.sence-item {
  padding: 8px 16px;
  border-bottom: 1px solid var(--Netural-75, #f7f8fa);
  cursor: pointer;
  
  &:hover,
  &.active {
    background-color: var(--Netural-75, #f7f8fa);
  }
  .icon-more{
    display: none;
    cursor: pointer;
    margin-left: 8px;
  }
  &:hover .icon-more{
    display: block;
  }
}

.custom-select :global(.ant-select-selection){
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
