<!DOCTYPE html>
<html lang="zh">

<head>
    <title>链路压测</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./Logo1.png" rel="shortcut icon" type="image/x-icon">
    <script>
        var serverUrl = '<%= process.env.NODE_ENV === "development" ? process.env.DEV_HOST : "" %>/takin-web/api';
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?c4e57c964fbe9f8c6e65c90dbf4ddba8";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <!-- 浏览器运行时修改主题，注意不能放在head里，会导致css权重不够 -->
    <link rel="stylesheet/less" type="text/css" href="./color.less" />
    <script>window.less = { async: false, env: 'production', javascriptEnabled: true };</script>
    <script type="text/javascript" src="./less.min-2.7.2.js"></script>    
    <div id="root"></div>
    <script type="text/javascript" src="//js.users.51.la/21114307.js"></script>
</body>

</html>