@font-face {
  font-family: "iconfont"; /* Project id 2556232 */
  src: url('./iconfont.woff2?t=1625220835338') format('woff2'),
       url('./iconfont.woff?t=1625220835338') format('woff'),
       url('./iconfont.ttf?t=1625220835338') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huancun1:before {
  content: "\e61e";
}

.icon-rukou1:before {
  content: "\e61d";
}

.icon-disanfangyingyong:before {
  content: "\e615";
}

.icon-shujuku:before {
  content: "\e616";
}

.icon-weizhiyingyong:before {
  content: "\e619";
}

.icon-wenjian:before {
  content: "\e61a";
}

.icon-yingyong:before {
  content: "\e61b";
}

.icon-xiaoxiduilie:before {
  content: "\e61c";
}

.icon-jiazai:before {
  content: "\e614";
}

.icon-shibai-1:before {
  content: "\e610";
}

.icon-anquandefuben:before {
  content: "\e611";
}

.icon-anquan:before {
  content: "\e612";
}

.icon-shibai:before {
  content: "\e613";
}

.icon-tixing-1:before {
  content: "\e60e";
}

.icon-tixing1:before {
  content: "\e60f";
}

.icon-jieshi-3:before {
  content: "\e609";
}

.icon-jieshi-2:before {
  content: "\e60a";
}

.icon-jieshi:before {
  content: "\e60b";
}

.icon-jieshi-1:before {
  content: "\e60c";
}

.icon-jinggao-2:before {
  content: "\e605";
}

.icon-jinggao:before {
  content: "\e606";
}

.icon-jinggao-1:before {
  content: "\e607";
}

.icon-jinggao-3:before {
  content: "\e608";
}

