 .line {
    :global {
      .ant-divider-horizontal {
        margin: 8px 0;
      }
    }
  }
  .align td{
    :global {
      .ant-btn {
        padding: 0;
      }
    }
  }

  .example {
    text-align: center;
    margin-bottom: 20px;
    padding: 200px 50px;
    margin: 20px 0;
  }

  .font {
    padding: 24px;
    :global {
      .ant-statistic-content-value-int {
        font-size: 24px;
      }
      .ant-statistic-content-value{
        font-size: 24px;
      }
    }
  }

.nodeInfoDrawer {
  // margin-right: 8px;
  :global {
    .ant-drawer-close {
      right: -15px;
      top: -10px;
    }
    .ant-drawer-content-wrapper {
      box-shadow: 0px 0px 12px 0px rgba(177, 192, 192, 0.45) !important;
    }
    .ant-drawer-content {
      border-radius: 4px;
    }
  }
}

.blueline {
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: #11bbd5;
}

.border {
  background: linear-gradient(
    251deg,
    rgba(249, 254, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0px 2px 8px 0px rgba(126, 155, 159, 0.14);
  border-radius: 4px;
  border: 1px solid rgba(233, 239, 255, 1);
  padding: 24px;
  margin-top: 30px;
}

.boldTitle {
  font-size: 14px;
  color: #393b4f;
  line-height: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  margin: 0 4px 0 8px;
}

.footer {
  position: fixed;
  // width: 90%;
  width: calc(100% - 176px);
  right: 8px;
  bottom: 0;
  padding: 8px 24px;
  z-index: 100;
  box-shadow: 0px 4px 10px 0px rgba(51, 55, 75, 0.08);
  background-color: #fff;
  border-top: 1px solid #f2f3f3;
}

.detailTabs {
  padding: 0 16px 16px 16px;
  margin-top: 16px;
  margin-bottom: -16px;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 90%,
    rgba(243, 252, 253, 1) 100%
  );
  border: 1px solid rgba(238, 240, 246, 1);

  :global {
    .ant-tabs-tab {
      font-size: 14px;
      font-weight: 400;
      color: rgba(172, 179, 185, 1);
    }
    .ant-tabs-tab-active {
      font-weight: 500;
      color: rgba(57, 59, 79, 1);
      line-height: 22px;
    }
    .ant-tabs-ink-bar {
      background-color: var(--BrandPrimary-500);
      border-radius: 2px 2px 0 0;
    }
  }
}
